.img-contat {
    display: none;
}

.d-form {
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 30px;
}

#header-lg-bg {
    display: none;
}

#header-md-bg {
    display: block;
    width: 100%;
}

.logo {
    display: none;
}

.logo-white {
    display: block;
}

#sudemi {
    width: 100%;
}

.container-marko {
    width: 100%;
    padding-left: 0px;
}
.container-marko h1{
    padding-top: 100px;
}

h3 {
    width: 100%;
}

.icons {
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
}

.icon, .icon-text, #icon-left {
    width: 100%;
}

table {
    padding: 0px;
}

.icon-left {
    width: 100%;
}

.icon table {
    padding: 0;
}
@media (max-width: 500px){
    .container-marko h1{
        padding-top: 0px;
        font-size: 16px;
    }
    .container-marko h3{
        font-size: 12px;
    }
    .para2 p{
        text-align: center;
    }
    .logo-white{
        height: 50px;
        width: 50px;
    }
    #Portfolio{
        flex-direction: column;
        text-align: center;
    }
   .sec1, .sec2, .sec3{
       width: 100%;
       margin: 0px 10px;
   }
   .visita{
       margin: 25px 0px;
       width: 350px;
   }
   .icons .icon{
       width: 100%;
   }
}