.container-ul{
    display: none;
}
.container-marko{
    padding-left: 60px;
}
.container-marko h1{
    margin-top: 200px;
    padding-left: 40px;
}
.container-marko h3{
    padding-left: 40px;
}
.logo{
    margin-left: 40px;
}
.para1, .img{
    display: none;
}
.img2, .para2{
    display: block;
}
.para{
    display: block;
    width: 100%;
}
.para2{
    width: 100%;
    padding: 0px 100px;
    color: #fff;
    margin: 15px 0px;
}
#about-img{
    width: 250px;
    margin: 30px 0px;
}

#Portfolio{
    text-align: center;
}
.sec3{
    display: none;
}
.sec3-1{
    display: block;
}
.sec1, .sec2{
    width: 50%;
}
.sec3-1{
    width: 100%;
}
